.DivGeneralCategorias {
    display: flex;
    margin: 10px;
}

.DivSecciones ol {
    display: flex;
    list-style: none;
    padding: 0px;
    flex-wrap: wrap;
    -webkit-box-align: center;
    align-items: center;
}

.DivNombreSeccion {
    display: flex;
    justify-content: center;
}

.DivNombreSeccion h1{
    font-style: italic;
}

.DivOrdenamiento {
    display: flex;
    flex-direction: column;
    border-radius: 10px;
    background-color:rgb(255, 255, 255);
    max-width: 20%;
    justify-content: flex-start;
    height: 500px;
}

.DivContCardsyPaginado {
    display: flex;
    align-content: center;
}

.DivContCards {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 16px;
    padding: 16px;
    justify-content: end;
}

.DivContCardsyPaginado {
    display: flex;
    flex-direction: column;
}

.DivFiltroPorPrecio ul{
    display: flex;
    flex-direction: column;
}

.UlFiltroPorPrecio {
    display: flex;
    margin-left: 0px;
    padding-left: 0px;
}

.UlFiltroPorPrecio li {
    display: flex;
}

.FormFiltroPorPrecio {
    display: flex;
    flex-direction: row;
    padding-left: 0px;
}

.FormFiltroPorPrecio input {
    display: flex;
    width: 80px;
}

.DivFiltroOrden {
    display: flex;
    justify-content: center;
}

.DivFiltroOrden label {
    border: none;
    font-size: 15px;
}

.SelectFiltroOrden {
    border: none;
    letter-spacing: -0.47px;
    font-weight: 500;
    cursor: pointer;
}

.SelectFiltroOrden option {
    font-family: inherit;
    font-size: 15px;
    letter-spacing: -0.47px;
    font-weight: 500;
    cursor: pointer;
}