.contenedorProducto {
  background-color: aliceblue;
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1200px;
  margin: 50px auto;
  padding: 20px;
  border-radius: 10px;
  flex-direction: column;
}

.midContainer {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
}

.midContainer img {
  width: 500px;
  height: auto;
  margin: 20px;
}

.productTitle {
  font-size: 30px;
  color: rgb(0, 0, 0);
  text-align: center;
  width: 100%;
  margin-bottom: 20px;
}

.product-info {
  margin-left: 20px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  height: 100%;
}

.product-info p {
  font-size: 20px;
  color: #555;
  margin: 5px 0; /* Ajusta el espacio entre párrafos */
}

.product-price {
  font-size: 30px;
  color: #ec0000;
  margin: 20px 0; /* Espacio entre el precio y el botón */
}

.confirm-button {
  margin-top: 10px; /* Ajusta el espacio encima del botón */
  padding: 10px 20px; /* Aumenta el tamaño del botón para mejor usabilidad */
  font-size: 18px; /* Ajusta el tamaño de la fuente del botón */
  background-color: #007bff; /* Color de fondo del botón */
  color: white; /* Color del texto del botón */
  border: none; /* Quita el borde del botón */
  border-radius: 5px; /* Bordes redondeados para el botón */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  align-self: flex-start; /* Alinea el botón a la izquierda dentro del contenedor */
  margin-top: auto; /* Empuja el botón al final del contenedor */
}

.confirm-button:hover {
  background-color: #0056b3; /* Color de fondo del botón al pasar el ratón */
}
