.list-vertical {
    list-style-type: none;
    padding: 0;
    display: flex;
    flex-direction: column;
    background-color: #ccc;
  }
  
  .list-item {
    border: 1px solid #ccc;
    margin: 10px 0;
    padding: 10px;
  }
  
  .list-item-horizontal {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  .list-item-horizontal h2,
  .list-item-horizontal p {
    margin: 0 10px;
  }
  
  .list-item-horizontal img {
    max-width: 50px;
    height: auto;
    margin-right: 10px;
  }
  
  .list-item-horizontal button {
    margin-left: 10px;
  }
  