.Div-container-General { 
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.list-container {
  display: table;
  width: 95%;
  border-collapse: collapse;
  margin-top: 10px;
  margin-bottom: 10px;
}

.list-header, .list-item {
  display: table-row;
}

.list-header span {
  display: table-cell;
  border: 1px solid #ccc;
  text-align: center;
  background-color: #fd5c5c;
  font-weight: bold;
  padding: 8px;
}

.list-item img {
  max-width: 50px;
  height: auto;
}

.actions {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.list-item {
  display: table-row;
  background-color: rgb(246, 154, 154);
  height: 80px; /* Ajusta esta altura según sea necesario */
  border: 1px solid #ccc;
}

.list-item span {
  display: table-cell;
  font-size: 14px;
  padding: 8px;
  border: 1px solid #ccc;
  vertical-align: middle; /* Alinea el contenido verticalmente en el centro */
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  max-width: 150px; /* Ajusta esta anchura según sea necesario */
}

.product-Descripcion {
  max-height: 60px; /* Altura máxima para la descripción */
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3; /* Número de líneas a mostrar */
  -webkit-box-orient: vertical;
}

.BotonMostrarInfo {
  margin-top: 10px;
  margin-bottom: 10px;
}

.pagination-container {
  display: flex;
  justify-content: center;
  margin: 10px 0;
}

.pagination-top {
  margin-top: 10px;
}

.pagination-bottom {
  margin-bottom: 10px;
}

.pagination-button {
  background-color: #ff0000;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.pagination-button.active {
  background-color: #f47474;
  color: black;
}

.pagination-button:disabled {
  background-color: #e9ecef;
  cursor: not-allowed;
}

.pagination-button:hover {
  background-color: #45a049;
}