.containerFooter{
  background-color: #1F1F1F;
  width: 90%;
  height: 400px;
  display: flex;
  justify-content: space-around;
  margin: auto;
  border-color: black;
  -webkit-box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  align-items: center;
  border-radius: 5px;
}

.mapa {
  margin: 15px;
}

.Contactos {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  padding: 15px;
  height: auto;
  width: auto;
  -webkit-box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  color: white;
  border-radius: 5px;
}

.Contactos h4 {
  color: red;
}

.Horarios-de-Atencion {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  margin: 15px;
  padding: 15px;
  height: auto;
  max-width: 300px;
  -webkit-box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  -moz-box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  box-shadow: -12px 20px 5px -3px rgba(0,0,0,0.75);
  color: white;
  border-radius: 5px;
}

.a {
  margin-top: 10px;
  margin-bottom: 10px;
}

.Contactos ul {
  display: block;
}

@media (max-width:1100px)  {
  .mapa {
    display: none;
  }
  .QuienesSomos {
    font-size: 10px;
  }
  .Contactos {
    font-size: 10px;
  }
  .containerFooter {
    max-height: 300px;
    min-height: auto;
    flex-direction: column;
  }
}

.Horarios-de-Atencion ul {
  display: block;
}

.Horarios-de-Atencion h4 {
  color: red;
}





