.product-card {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 13.75rem;
  height: 18.75rem;
  background-color: rgb(255, 255, 255);
  border-radius: 16px;
  border: 1px solid black;
  overflow: hidden;
  box-shadow: 2px 2px 5px 0px rgba(0, 64, 128, 0.1);
  text-decoration: none;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}

  
.product-imagen {
  max-width: 100%;
  height: auto;
}

.product-descripcion,
.product-precio,
.product-marca {
  margin: 0.2rem 0;
  font-size: 1rem;
  color: black;
}

.product-marca {
  padding-top: 5px;
  font-weight: bold;
  text-transform: uppercase;
}

.product-descripcion {
  font-weight: normal;
}

.product-precio {
  font-weight: bold;
}
